ul {
  list-style-type: none;
}

h1 {
  font-family: 'Castoro';
}

p {
  font-size: 20px;
  font-family: 'Castoro';
}


/* Navbar */
.NavbarContainer {
  width: 100vw;
  height: 10vh;
  padding-top: 2vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Link {
  margin-left: 12px;
  margin-right: 12px;
  color: black;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Castoro';
}


/* Home Screen */
.HomeScreenContainer {
  padding-left: 10vw;
  padding-right: 10vw;
}

.DescColumn p {
  font-size: 24px;
}

.DescColumn {
  height: 90vh;
  padding-top: 8%;
  text-align: start;
  /* border-style: solid;
  border-width: 2px;
  border-color: black; */
}

.IconsContainer {
  padding: 15px;
}

.IconsContainer img {
  margin-right: 20px;
}

.ImageColumn {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-style: solid;
  border-width: 2px;
  border-color: black; */
}


/* About Screen */
.AboutImgColumn {
  height: 90vh;
  text-align: start;
}

.AboutImg {
  border-width: 7px;
  border-style: solid;
  border-color: #785027;
}

.AboutColumn {
  height: 80vh;
  text-align: start;
  padding: 15px;
}

.vertical-timeline.vertical-timeline-custom-line::before {
  background: #424242;
}

/* Icon container's border */
.vertical-timeline.vertical-timeline-custom-line .vertical-timeline-element--work .vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px #424242, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.vertical-timeline.vertical-timeline-custom-line .vertical-timeline-element--education .vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px #424242, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}


/* Projects Screen */
.ProjectScreenContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.ProjectImg {
  border-width: 2px;
  border-style: solid;
  border-color: black;
}


/* Research Screen */
.ResearchScreenContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}


/* Contact Screen */
.ContactScreenContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}
