ul {
  list-style-type: none;
}


/* Navbar */
.NavbarContainer {
  width: 100vw;
  height: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Link {
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  text-decoration: none;
}

/* Home Screen */
.HomeScreenContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 94vh;
}



/* About Screen */


/* Projects Screen */


/* Research Screen */

