ul {
  list-style-type: none;
}

p {
  font-size: 22px;
}


/* Navbar */
.NavbarContainer {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Link {
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  text-decoration: none;
  font-size: 22px;
}


/* Home Screen */
.HomeScreenContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}

.ImageColumn {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.DescColumn {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
}


/* About Screen */


/* Projects Screen */


/* Research Screen */

