ul {
  list-style-type: none;
}

h1 {
  font-family: 'Castoro';
}

p {
  font-size: 20px;
  font-family: 'Castoro';
}


/* Navbar */
.NavbarContainer {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Link {
  margin-left: 12px;
  margin-right: 12px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Castoro';
}


/* Home Screen */
.HomeScreenContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}

.DescColumn p {
  font-size: 22px;
}

.DescColumn {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
}

.IconsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px;
}

.IconsContainer img {
  margin-right: 20px;
}

.ImageColumn {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}


/* About Screen */
.AboutScreenContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}

.AboutImgColumn {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; 
  text-align: start;
}

.AboutImg {
  border-radius: 50%;
  margin-top: 10%;
  border-width: 7px;
  border-style: solid;
  border-color: saddlebrown;
}

.AboutColumn {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
}


/* Projects Screen */
.ProjectScreenContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}


/* Research Screen */
.ResearchScreenContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}


/* Contact Screen */
.ContactScreenContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}
